# presets
meta:
  engine: 4.2.1 # ergogen version
  name: Scriabin-Split
  side: left
  version: 0.0.1
  author: LunaticGhoulPiano
  url: https://github.com/LunaticGhoulPiano/Scriabin-Split
  switch:
    $extends: switch_units.mx # <======================================== set your switch type here, refer to switch_units
switch_units: # switch unit configurations, reference from: https://github.com/ceoloide/corney-island
  # Official basic units: https://docs.ergogen.xyz/units
  ## U: 19.05mm MX spacing
  ## u: 19mm MX spacing
  ## cx: 18mm Choc X spacing
  ## cy: 17mm Choc Y spacing
  mx:
    # switch reference: https://cdn.sparkfun.com/datasheets/Components/Switches/MX%20Series.pdf
    # general units
    kx: u # spacing between key centers (X-axis)
    ky: u # spacing between key centers (Y-axis)
    ks: u # key spread, space between X-axis
    kp: u # key padding, space between Y-axis
    keycap_x: 18
    keycap_y: 18
    # switch hole units (e.g. MXNA-11NB, 0.551 +- 0.002 inch * 25.4 ≈ 14 mm)
    key_cutout_hole_width: 14
    key_cutout_hole_height: 14
    # stabilier units, reference by: https://github.com/Woovie/useful-ergogen-components/blob/main/2u-stabilizer-cutout.yaml
    # maybe reference this: https://github.com/swill/kad/issues/14
    stab_w: 7
    stab_h: 14
    stab_offset: -1 # This means south stabs, use `orient` to rotate them for north facing scenarios
    stab_spacing_2kx: kx / 2 + stab_w / 2 + ((23.8 / 2) - (14 / 2) - (stab_w / 2)) # The complex formula has two magic numbers. 14 is the size of a switch cutout for a plate. 23.8 is the distance between each stabilizer on a 2-2.75u stabilizer, as specified by Cherry
    # offsets
    outline_extend_x: 21
    outline_extend_y: 0
    diode_shift_x: 7.4
    diode_shift_y: 1.325
    led_shift_x: 0
    led_shift_y: -4.75
    switch_rotation: 0
  choc_base:
    # switch reference: http://www.kailh.com/product/Ms/Choc/
    # general units
    kx: cx
    ky: cy
    ks: cx
    kp: cy
    keycap_x: 17.5
    keycap_y: 16.5
    # switch hole units (e.g. CPG135301D02, 13.95 +- 0.05 mm ≈ 14 mm)
    key_cutout_hole_width: 13.8
    key_cutout_hole_height: 13.8
    # stabilier units, reference by: https://github.com/Woovie/useful-ergogen-components/blob/main/2u-stabilizer-cutout.yaml
    stab_w: 5.5
    stab_h: 11.5
    stab_offset: 0
    stab_spacing_2kx: kx / 2 + stab_w / 2 + ((24 / 2) - (11.5 / 2) - (stab_w / 2))
    # offsets
    outline_extend_x: 21
    outline_extend_y: 0
    diode_shift_x: -0.5 * 13.8 - 0.85
    diode_shift_y: 1.5
    led_shift_x: 0
    led_shift_y: 4.7
    switch_rotation: 180
  choc_v1:
    $extends: switch_units.choc_base
    ks: cx + 0.5
    kp: cy + 0.5
  choc_v2:
    $extends: switch_units.choc_v1
    kx: u
    ky: u
    ks: u
    kp: u
    key_cutout_hole_width: 14
    key_cutout_hole_height: 14
units:
  # load choosed switch actual units
  $extends: meta.switch
  # stagger setting
  offset_height: 3.5
  # left_function setting
  left_f_key_diff: 1.25 - 1
  left_half_of_f_key_diff: (1.25 - 1) / 2
  # controller board units: ProMicro nRF52840 https://www.nologo.tech/product/otherboard/NRF52840.html
  controller_width: 17.78
  controller_height: 33
  controller_expand: 6
# switch layout
points:
  zones:
    # ====== Left Hand ======
    # Crossing points: "+" means used crossing points, "x" means unused crossing points
    # Naming of columns and rows:
    #              c0_externel c1_outer c2_pinky c3_ring c4_middle c5_index c6_inner
    # r0_numbers         +         +        +       +        +         +       +
    # r1_top             x         +        +       +        +         +       +
    # r2_home            x         +        +       +        +         +       +
    # r3_bottom          x         +        +       +        +         +       +
    # r4_modifiers       +         +        +       +        +         +       +
    left_main_keys:
      key:
        padding: kp
        spread: ks
      columns:
        c0_externel:
          key.column_net: C0
          rows:
            r3_bottom.skip: true
            r2_home.skip: true
            r1_top.skip: true
            r0_numbers.width: kx
        c1_outer:
          key.column_net: C1
          rows:
            r3_bottom:
              width: 2.25 kx
              shift: [-(2.25 / 2 - 0.5) kx, 0]
              tags: [need_stabs]
            r2_home:
              width: 1.75 kx
              shift: [((2.25 - 1.75) / 2) kx, 0]
            r1_top:
              width: 1.5 kx
              shift: [((1.75 - 1.5) / 2) kx, 0]
            r0_numbers:
              width: kx
              shift: [((1.5 - 1) / 2) kx, 0]
        c2_pinky.key:
          column_net: C2
          stagger: offset_height
          width: kx
        c3_ring.key:
          column_net: C3
          stagger: offset_height
          width: kx
        c4_middle.key:
          column_net: C4
          stagger: offset_height
          width: kx
        c5_index.key:
          column_net: C5
          stagger: -offset_height
          width: kx
        c6_inner.key:
          column_net: C6
          stagger: -offset_height
          width: kx
      rows:
        r3_bottom.row_net: R3
        r2_home.row_net: R2
        r1_top.row_net: R1
        r0_numbers.row_net: R0
    # left row 4
    left_function_keys:
      anchor:
        ref: left_main_keys_c0_externel_r0_numbers
        shift: [0, -4 * kp] 
      key:
        padding: kp
        spread: ks
        width: 1.25 kx
      columns:
        c0_externel:
          key.column_net: C0
          rows.r4_modifiers:
            row_net: R4
            width: kx
            shift: [-left_f_key_diff ks, 0]
        c1_outer:
          key.column_net: C1
          rows.r4_modifiers.shift: [(-left_f_key_diff + left_half_of_f_key_diff) ks, 0]
        c2_pinky:
          key.column_net: C2
          rows.r4_modifiers.shift: [(-left_f_key_diff + left_half_of_f_key_diff + left_f_key_diff) ks, offset_height]
        c3_ring:
          key.column_net: C3
          rows.r4_modifiers.shift: [(-left_f_key_diff + 2 * left_f_key_diff + left_half_of_f_key_diff) ks, 2 * offset_height]
        c4_middle:
          key.column_net: C4
          rows.r4_modifiers.shift: [(-left_f_key_diff + 3 * left_f_key_diff + left_half_of_f_key_diff) ks, 2 * offset_height]
        c5_index:
          key.column_net: C5
          rows.r4_modifiers.shift: [(-left_f_key_diff + 4 * left_f_key_diff + left_half_of_f_key_diff) ks, offset_height]
      rows:
        r4_modifiers:
    # left thumb (space)
    left_thumb_keys:
      anchor:
        ref: left_main_keys_c6_inner_r3_bottom
        shift: [1.3 ks, -1.2 kp]
        rotate: 75
      key:
        width: 2 kx
        tags: [need_stabs]
      columns:
        c6_inner:
          key.column_net: C6
          rows.r4_modifiers:
            row_net: R4
    # ====== Right Hand ======
    # Crossing points: "+" means used crossing points, "x" means unused crossing points
    # Naming of columns and rows:
    # c0_inner c1_index c2_middle c3_ring c4_pinky c5_outer c6_externel c7_last
    #    +         +         +       +        +        +         +         x    r0_numbers
    #    +         +         +       +        +        +         +         +    r1_top
    #    +         +         +       +        +        +         +         x    r2_home
    #    +         +         +       +        +        +         +         x    r3_bottom
    #    +         +         +       +        +        +         +         x    r4_modifiers
    #    +         x         x       x        x        x         x         x    r5_thumb
    right_main:
      anchor:
        shift: [200, 0] # space between 2 boards
      key:
        padding: kp
        spread: ks
      columns:
        c0_inner.key:
          column_net: C0
          width: kx
        c1_index.key:
          column_net: C1
          stagger: offset_height
          width: kx
        c2_middle.key:
          column_net: C2
          stagger: offset_height
          width: kx
        c3_ring.key:
          column_net: C3
          stagger: -offset_height
          width: kx
        c4_pinky.key:
          column_net: C4
          stagger: -offset_height
          width: kx
        c5_outer.key:
          column_net: C5
          stagger: -offset_height
          width: kx
        c6_externel:
          key.column_net: C6
          rows:
            r4_modifiers.width: kx
            r3_bottom:
              width: 2.75 kx
              shift: [((2.75 - 1) / 2) kx, 0]
              tags: [need_stabs]
            r2_home:
              width: 2.25 kx
              shift: [-((2.75 - 2.25) / 2) kx, 0]
              tags: [need_stabs]
            r1_top:
              width: kx
              shift: [-(((2.75 - 1) / 2) - ((2.75 - 2.25) / 2)) kx, 0]
            r0_numbers:
              width: 2 kx
              shift: [((2 - 1) / 2) kx, 0]
              tags: [need_stabs]
        c7_last:
          key.column_net: C7
          rows:
            r4_modifiers.skip: true
            r3_bottom.skip: true
            r2_home.skip: true
            r1_top:
              width: 1.5 kx
              shift: [((1.5 - 1) / 2) kx, 0]
            r0_numbers.skip: true
      rows:
        r4_modifiers.row_net: R4
        r3_bottom.row_net: R3
        r2_home.row_net: R2
        r1_top.row_net: R1
        r0_numbers.row_net: R0
    # right row 5
    right_thumb:
      anchor:
        ref: right_main_c0_inner_r4_modifiers
        shift: [-1.1 ks, -0.8 kp]
        rotate: -75
      key:
        width: 2 kx
        tags: [need_stabs]
      columns:
        c0_inner:
          key.column_net: C0
          rows.r5_thumb.row_net: R5
    # ====== Controllers' position points ======
    controller_left:
      anchor:
        ref: left_main_keys_c6_inner_r0_numbers
        shift: [22, -10]
      key:
        width: 0
        height: 0
      columns:
        board:
          rows:
            r0:
    controller_right:
      anchor:
        ref: right_main_c0_inner_r0_numbers
        shift: [-22, -10]
      key:
        width: 0
        height: 0
      columns:
        board:
          rows:
            r0:
outlines:
  # 1. define switch hole
  _raw:
    - what: rectangle
      where: true
      size: [ks, kp]
  # 2. define stabilizer hole
  _stabs:
    - what: rectangle
      where: need_stabs
      size: [stab_w, stab_h]
      adjust:
        shift: [stab_spacing_2kx, stab_offset]
    - what: rectangle
      where: need_stabs
      size: [stab_w, stab_h]
      adjust:
        shift: [-stab_spacing_2kx, stab_offset]
  # 3. define controller shape
  _left_controller_inner:
    - what: rectangle
      where: controller_left_board_r0
      size: [controller_width, controller_height]
  _right_controller_inner:
    - what: rectangle
      where: controller_right_board_r0
      size: [controller_width, controller_height]
  # 4. define controller outer frame
  _left_controller_outer:
    - what: rectangle
      where: controller_left_board_r0
      size: [controller_width + controller_expand, controller_height  + controller_expand]
  _right_controller_outer:
    - what: rectangle
      where: controller_right_board_r0
      size: [controller_width + controller_expand, controller_height  + controller_expand]
  # 5. generate outer frame (only switches, controllers are not included)
  _pasted_left:
    - what: rectangle
      where: /^left.*/
      size: [ks + outline_extend_x, kp + outline_extend_y]
      bound: true
  _pasted_right:
    - what: rectangle
      where: /^right.*/
      size: [ks + outline_extend_x, kp + outline_extend_y]
      bound: true
  # 6. generate plates
  plate_left:
    # get outer frame
    - what: outline
      name: _pasted_left
    # extend controller shape
    - what: outline
      name: _left_controller_outer
      operation: add
    # smooth edges
    - what: outline            
      name: plate_left
      expand: 2
      fillet: 10
    # dig switch hole
    - what: rectangle
      where: /^left.*/
      size: [key_cutout_hole_width, key_cutout_hole_height]
      operation: subtract
    # dig stabalizer hole
    - what: outline
      name: _stabs
      operation: subtract
    # extend controller
    - what: outline
      name: _left_controller_inner
      operation: stack
  plate_right:
    - what: outline
      name: _pasted_right
    - what: outline
      name: _right_controller_outer
    - what: outline            
      name: plate_right
      expand: 2
      fillet: 10
    - what: rectangle
      where: /^right.*/
      size: [key_cutout_hole_width, key_cutout_hole_height]
      operation: subtract
    - what: outline
      name: _stabs
      operation: subtract
    - what: outline
      name: _right_controller_inner
      operation: stack
  # 7. preview
  plate_preview:
    - what: outline
      name: plate_left
    - what: outline
      name: plate_right
      operation: stack
pcbs:
  left:
    template: kicad8
    outlines:
      main:
        outline: plate_left
    footprints:
      mcu:
        what: ceoloide/mcu_supermini_nrf52840
        where: 
          ref: controller_left_board_r0 
        params:
          P1: C0
          P0: C1
          P2: C2
          P3: C3
          P4: C4
          P5: C5
          P6: C6
          P7: C7
          P21: R0
          P20: R1
          P19: R2
          P18: R3
          P15: R4
          P14: R5
      choc_switches:
        what: ceoloide/switch_choc_v1_v2
        where: /^left.*/
        params:
          from: "{{column_net}}"
          to: "{{row_net}}"
      diodes:
        what: ceoloide/diode_tht_sod123
        where: /^left.*/
        params:
          from: "{{column_net}}"
          to: "{{row_net}}"
        adjust:
          shift: [0, -5]
  right:
    template: kicad8
    outlines:
      main:
        outline: plate_right
    footprints:
      mcu:
        what: ceoloide/mcu_supermini_nrf52840
        where: 
          ref: controller_right_board_r0
        params:
          P1: C0
          P0: C1
          P2: C2
          P3: C3
          P4: C4
          P5: C5
          P6: C6
          P7: C7
          P21: R0
          P20: R1
          P19: R2
          P18: R3
          P15: R4
          P14: R5
      choc_switches:
        what: ceoloide/switch_choc_v1_v2
        where: /^right.*/
        params:
          from: "{{column_net}}"
          to: "{{row_net}}"
      diodes:
        what: ceoloide/diode_tht_sod123
        where: /^right.*/
        params:
          from: "{{column_net}}"
          to: "{{row_net}}"